<%= simple_form_for([ question, answer ], remote: true) do |form| %>
  <%= form.input :answer, as: :text, :label => false %>
  <%= form.button :submit, 'Answer Question', class: "map-button" %>
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

