
  <div class="card-header p-2" id="headingOne">
      <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" >
            <div data-question-id="<%= question.id %>">
              <p><%= index+1 %>)  <%= question.question %> </p>
            </div>
          </button>
        </h5>
  </div>