<div id="question">
    <p><%= question.id %>)  <%= question.question %> </p>

  <div id="answer">
    <% if question.answers.blank? %>
         <p> No answers for this question yet. Build your good karma by answering questions here </p>
    <% else %>
      <% question.answers.each do |answer| %>
      <%= render 'questions/answers', answer: answer %>
      <% end %>
    <% end %>
  </div>
</div>


