<%= simple_form_for([ resort, question ], remote: true) do |form| %>
  <%= form.input :question, as: :text %>
  <%= form.button :submit, class: "btn btn-primary"  %> 
<% end %>

<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>
