#img-container {
  display: flex;
  flex-direction: column;
  background: linear-gradient(
                     rgba(0, 0, 0, .1),
                     rgba(0, 0, 0, .1)),
                     asset-url("snowboard.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

#login-out-holder {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100px;

}

.login-out {
  width: 100px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  color: white;
  font-family: 'Karla';
  font-size: 16px;
  padding: 8px;
  // border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 50px;
}

.login-out:hover {
  background: white;
  color: #2F84C5;
}

#welcome-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 60vw;
  padding-bottom: 150px;
}

#logo {
  text-align: center;
  color: white;
  font-size: 120px;
  font-family: 'Covered By Your Grace';
}

#call-to-action-box {
  display: flex;
  align-items: center;
}

#tagline {
  font-family: 'Karla';
  font-size: 24px;
  color: white;
  margin-left: 12px;
}

#submit {
  width: 100px;
  text-align: center;
  color: white;
  font-family: 'Karla';
  font-size: 24px;
  padding: 15px;
  border: 1px solid white;
  border-radius: 4px;
  cursor: pointer;
}

#submit:hover {
  background: white;
  color: #2F84C5;
}

