.main-container{
  display: flex;
}

.resort-show-banner {
  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background: linear-gradient(
                     rgba(0, 0, 0, .1),
                     rgba(0, 0, 0, .1)),
                     asset-url('mountains_sm.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  margin-top: 20px;
}

.resort-names {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.resort-name {
  color: white;
  font-size: 60px;
  font-family: 'Covered By Your Grace';
}

.resort-name-ja {
  color: white;
  font-size: 30px;
  // font-family: 'Covered By Your Grace';
}

.space-holder{
  width: 50px;
  height: 300px;
}

.icon-holder{
  display: flex;
  flex-direction: column;
  font-size: 24px;
  width: 50px;
  height: 300px;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  background: linear-gradient(
     rgba(255, 255, 255, .25),
     rgba(255, 255, 255, .25)),
}

#share {
  color: white;
}

#share:hover {
  color: #04507C;
}

.resort-info-block {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  color: $blue;
  a{
    color: $blue;
    text-decoration: none;
  }
}

.resort-info-header {
  width: 100%;
  font-size: 14px;
  font-family: 'Karla';
  padding-left: 40px;
  background: $blue;
  color: white;
  padding: 8px;
}

.resort-info-body {
  padding: 8px;
  // display: flex;
  // justify-content: space-around;
  // align-items: center;
  // min-height: 200px;
}
