.main-container{
  display: flex;
}

.resort-information{
  display: flex;
  flex-direction: column;
  width: 550px;
  margin: 20px;
}

.weather{
  margin: 20px;
  flex-grow: 2;
}

.resort-header {
  background-image: asset-url('show_header.jpeg');
}

#mountain {
  background-image: asset-url('mountain.png');
}
