.ticket{
  margin: 0 auto;
  height: 600px;
  width: 800px;
  background-color: white;
  margin-top: 20px;
  border: 1px solid black;
  padding: 24px;
  p{
    text-align: center;
  }
}

.resort-title{
  font-size: 50;
  text-align: center;
}

.qr-code{
  text-align: center;
}
