<div class="container col-6 my-5">

  <div class="resort-info-header">MY INFO</div>

  <div class="resort-info-header mt-5">MY FAVORITE RESORTS</div>
  <ul id="profile-favorites">
    <% @favorites.each do |favorite| %>
      <%= link_to resort_path(favorite.resort), style:"text-decoration:none" do %>
        <li><%= favorite.resort.name %></li>
      <% end %>
    <% end %>
  </ul>

  <div class="resort-info-header mt-5">MY QUESTIONS</div>

</div>
