<div id="img-container">

  <div id="login-out-holder">
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, style:"text-decoration:none", class: "login-out" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, style:"text-decoration:none", class: "login-out" %>
    <% end %>
  </div>

  <div id="welcome-box">
    <div id="logo-home">Way to Snow</div>
    <div id="call-to-action-box">
      <%= link_to "Go", resorts_path, style:"text-decoration:none", id: "submit" %>
      <div id="tagline">find the perfect powder...</div>
    </div>
  </div>

</div>

