<div class="holder">
  <div id="image-holder">
    <%= image_tag "landing.jpg", alt: "alttext", id: "banner-image" %>
  </div>
  <div id="message">
    <h1><strong>COMING SOON!</strong></h1>
  </div>
</div>
