<div class="container col-8 mt-5">
  <h1 class="mb-5">Create itinerary for visit to <%= @resort.name.titlecase %>!</h1>
  <form>
    <div class="form-group row">
      <label for="text" class="col-4 col-form-label">Email</label>
      <div class="col-8">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <i class="fa fa-address-card"></i>
            </div>
          </div>
          <input id="text" name="text" type="text" class="form-control">
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4">Travel date:</label>
      <div class="col-8">
        <input type="date" id="start" name="trip-start"
         value="2020-03-01"
         min="2020-03-01" max="2020-03-29">
      </div>
    </div>

    <div class="form-group row">
      <label class="col-4">How many travelers:</label>
      <div class="col-8">
        <select name="travelers">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
          </select>
      </div>
    </div>

    <div class="form-group row">
      <label for="textarea" class="col-4 col-form-label">Describe your plans</label>
      <div class="col-8">
        <textarea id="textarea" name="textarea" cols="40" rows="5" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-4 col-8">
        <%= link_to "Send", home_path, style:"text-decoration:none", class: "btn btn-primary" %>
      </div>
    </div>
  </form>
</div>




<!--     <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1">
      <label class="custom-control-label" for="customSwitch1">Snowboarding</label>
    </div>
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch2">
      <label class="custom-control-label" for="customSwitch1">Skiing</label>
    </div> -->
