// layout styling for summary cards on show page
.summary-items{
  display: flex;
  flex-grow: 1;
  margin-top: 16px;
}

// layout styling for resort info cards on show page
.resort-info-items{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px 8px;
  flex-grow: 1;
}

// layout styling for condition info on popup
// .popup-info-items{
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr 1fr;
//   grid-gap: 16px;
//   padding: 16px 8px;
//   flex-grow: 1;
// }
