// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "navbar";
@import 'map';
@import 'button';
@import 'table';
@import 'resort-header';
@import 'weather-overview';
@import 'resort-info-card';
@import 'slider';
@import 'mountain';

body {
  background-color: white;
}
