#itinerary-map-holder {
  display: flex;
}

#itinerary-map {
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  width: 100%;
  height: 500px;
  // margin-right: 400px;
}

#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 20px;
  padding: 0px 10px;
  height: 500px;
  float: right;
  width: 500px;
  overflow: auto;
}

#right-panel select, #right-panel input {
  font-size: 12px;
}

#right-panel select {
  width: 90%;
}

#right-panel i {
  font-size: 12px;
}

@media print {
  #itinerary-map {
    height: 500px;
    margin: 0;
  }
  #right-panel {
    float: none;
    width: auto;
  }
}

.driving-cost{
  text-align: center;
}

.costs-table{
  margin: 0 auto;
}

.send-itinerary{
  text-align: center;
  padding-bottom: 100px;
}

.send-form{
  text-align: center;
  margin-top: 100px;
}
