.mapboxgl-popup {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.popup-header {
  display: flex;
  flex-direction: column;
}

.popup-header .resort-name{
  font-weight: bold;
  // text-align: left;
}

.popup-header .resort-address{
  font-style: italic;
  // text-align: left;
}

.overview h1{
  font-size: 12px;
}

.marker {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  // #c1c2cb;
  // box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-color: #357266;
}

.marker:hover {
  width: 21px;
  height: 21px;
}

#map-controls {
  display: flex;
  align-items: center;
  height: 50px;
}

#map-buttons-holder {
  width: 50%;
  display: flex;
  justify-content: flex-start;
}

.map-button {
  min-width: 80px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 30px;
  font-family: 'Karla';
  color: #333333;
  border: 1px solid rgb(176,176,176);
  cursor: pointer;
  margin-left: 20px;
}

.selected {
  border: 1px solid #333333;
  background-color: #f2f2f2;
}

.map-button:hover {
  background-color: #f2f2f2;
  color: #333333;
}

#map {
  width: 100vw;
  height: 100vh;
}

.resort-counter {
  position: absolute;
  z-index: 1;
  background-color: white;
  bottom: 200px;
  right: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Open Sans';
  color: #333333;
  width: 175px;
}

#resort-counter-number {
  color: red;
  font-size: 18px;
}

