.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

// .marker {
//   background-color: black;
//   border-radius: 50%;
//   border: 1px solid white;
//   width: 15px;
//   height: 15px;
//   cursor: pointer;
// }

// CSS triangle
// .marker {
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 13px solid #b857cc;
//   cursor: pointer;
// }

.marker {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border: 1px solid white;
  // box-shadow: 1px 1px 1px white;
  background-color: #E85B46;
  // background-image: linear-gradient(-45deg, rgba(255,255,220,.3) 0%, transparent 100%);
}
