.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

// CSS triangle
// .marker {
//   border-left: 10px solid transparent;
//   border-right: 10px solid transparent;
//   border-bottom: 13px solid #b857cc;
//   cursor: pointer;
// }

.marker {
  // animation: pulse 2s infinite;
  background-color: rgba(237, 75, 54, 1);
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 1px solid white;
  cursor: pointer;
}

// @keyframes pulse {
//     0% {
//         transform: scale(0.9);
//         box-shadow: 0 0 0 0 rgba(237, 75, 54, 0.7);
//     }

//     70% {
//         transform: scale(1);
//         box-shadow: 0 0 0 10px rgba(237, 75, 54, 0);
//     }

//     100% {
//         transform: scale(0.9);
//     }
// }
