.mapboxgl-popup {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.popup-header {
  display: flex;
  flex-direction: column;
}

.popup-header .resort-name{
  font-weight: bold;
  // text-align: left;
}

.popup-header .resort-address{
  font-style: italic;
  // text-align: left;
}

.overview h1{
  font-size: 12px;
}

.marker {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  // #c1c2cb;
  // box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-color: #357266;
}

.marker.great {
  background-color: blue;
}
.marker.good {
  background-color: green;
}
.marker.average {
  background-color: orange;
}
.marker.bad {
  background-color: red;
}

.marker:hover {
  width: 21px;
  height: 21px;
}

#map-container {
  display: flex;
  flex-direction: column;
  height: 92vh;
}

#map-buttons-holder {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #d3d3d3;
}

.map-button {
  min-width: 80px;
  text-align: center;
  font-size: 12px;
  line-height: 16px;
  padding: 8px 16px;
  border-radius: 4px;
  font-family: 'Karla';
  color: #04507C;
  // border: 1px solid gray;
  background-color: #AFC5D4;
  cursor: pointer;
  margin: 0px 10px;
}

.map-button:hover {
  background-color: #04507C;
  color: white;
}

.selected {
  background-color: #04507C;
  color: white;
}

#map {
  width: 100vw;
  // height: 100vh;
  flex-grow: 1;
}

.resort-counter {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  background-color: white;
  top: 200px;
  left: 50px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Open Sans';
  color: #333333;
  width: 120px;
  height: 120px;
  // align-items: center;
  justify-content: center;
}

#resort-counter-number {
  color: red;
  font-size: 36px;
}

