.mapboxgl-popup {
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}

.popup-header {
  display: flex;
  flex-direction: column;
}

.popup-header .resort-name{
  font-weight: bold;
  // text-align: left;
}

.popup-header .resort-address{
  font-style: italic;
  // text-align: left;
}

.overview h1{
  font-size: 12px;
}

.marker {
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid white;
  // #c1c2cb;
  // box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  background-color: #357266;
}

.marker:hover {
  width: 21px;
  height: 21px;
}

#map-container {
  // display: flex;
}

#map {
  width: 100vw;
  height: 100vh;
}

.resort-counter {
  background-color: white;
  position: absolute;
  z-index: 1;
  bottom: 200px;
  right: 10px;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  border-radius: 4px;
  font-family: 'Open Sans';
  color: #333333;
  width: 175px;
}

#resort-counter-number {
  color: red;
  font-size: 18px;
}

