.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

#logo {
  text-align: center;
  color: #04507C;
  font-size: 24px;
  font-family: 'Covered By Your Grace';
  margin-left: 50px;
}
