.mapboxgl-popup {
  display: flex;
  flex-direction: column;
}

.mapboxgl-popup-content {
  text-align: center;
  min-width: 450px;
  color: $blue;
  a{
    text-decoration: none;
  }
  h1{
    font-size: 16px;
  }
}

.popup-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  // flex-direction: column;
}

.popup-header .resort-name{
  font-weight: bold;
}

.popup-header .resort-address{
  font-style: italic;
}

.overview h1{
  font-size: 12px;
}

.popup-conditions{
  display: flex;
  justify-content: space-around;
}

.popup-header h1{
  font-family: 'Covered By Your Grace';
  font-size: 32px;
}
