.resort-header{
  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // background: $blue;
  padding: 20px;
  font-size: 30px;
  color: white;
  height: 300px;
  background-size: cover;
  padding-top: 80px;
}

.resort-header h1{
  color: black;
  font-weight: bold;
  font-size: 50px;
  display: block;
  text-shadow: 1px 1px 8px rgba(150, 150, 150, 1);
  color: #223f57;
}

.resort-header p{
  color: black;
  font-size: 20px;
  display: block;
  text-shadow: 1px 1px 8px rgba(150, 150, 150, 1);
  color: #223f57;
}
