#map-slider-holder {
  display: none;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 120px;
  transition: all .5s ease;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  left: calc(80% - 225px);
  background-color: rgba(175,197,212,0.9);
  border-radius: 4px 4px 0px 0px;
  border: 1px solid #d3d3d3;
}

#map-slider-holder-inside {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  align-items: center;
}

#form-check-row{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.form-check-input {
  // margin: 4px 6px;
}
.form-check-label {
  font-size: 12px;
  font-family: 'Karla';
  color: #04507C;
}

#slider {
  width: 310px;
}

.range {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.day-labels {
  display: flex;
  margin: 0;
  padding: 0;
  width: 400px;
}

.day {
  width: 100px;
  font-size: 12px;
  font-family: 'Karla';
  color: #04507C;
  text-align: center;
} .active {
  color: red;
}
