.summary-card{
  flex: 1 1 0px;
  margin: 4px;
  text-align: center;
  color: white;
  padding-top: 8px;
  h1{
    font-size: 16px;
  }
  h2{
    color: black;
    font-size: 26px;
  }
}

#great{
  background: #4169E1;
}

#good{
  background: #00FF7F;
}

#average{
  background: #ff9933;
}

#bad{
  background: #FF4500;
}

.summary-items{
  display: flex;
  flex-grow: 1;
}
