.summary-card{
  overflow: hidden;
  flex: 1 1 0px;
  margin: 4px;
  text-align: center;
  color: white;
  padding-top: 8px;
  border-radius: 4px;
  letter-spacing: 1px;
  h1{
    font-size: 12px;
    letter-spacing: 2px;
  }
  h2{
    font-size: 24px;
  }
  p{
    margin: 2px;
  }
  b{
    font-size: 20px;
  }
}

#great{
  background: #45638E;
}

#great-body{
  background: #234056;
  padding-top: 8px;
  padding-bottom: 8px;
}

#good{
  background: #239B98;
}

#good-body{
  background: #1C7C79;
  padding-top: 8px;
  padding-bottom: 8px;
}

#average{
  background: #D87437;
}

#average-body{
  background: #BF5515;
  padding-top: 8px;
  padding-bottom: 8px;
}

#bad{
  background: #BA3737;
}

#bad-body{
  background: #982121;
  padding-top: 8px;
  padding-bottom: 8px;
}
.summary-items{
  display: flex;
  flex-grow: 1;
}


