.resort-info-header{
  background: $blue;
  color: white;
  padding: 8px;
}

.resort-info-header h2{
  font-size: 14px;
  font-weight: light;
}

.resort-info-body{
  // height: 200px;
  // margin-bottom: 10px;
  // width: 200px;
}
