// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
    margin: 0;
    background:transparent;
  }

  .sparkle-canvas,
  .instructions {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .instructions {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: sans-serif;
    font-size: 4vw;
  }

  .sparkle-canvas {
    pointer-events: none;
  }
