<div class="resort-summary-card">
  <h1>LIFTS</h1>
  <h2><%= @resort.lifts %></h2>
</div>

<div class="resort-summary-card">
  <h1>COURSES</h1>
  <h2><%= @resort.courses %></h2>
</div>

<div class="resort-summary-card">
  <h1>LONGEST</h1>
  <h2><%= @resort.longest_course %>m</h2>
</div>
