
<div class="resort-info-items">
  <div class="resort-summary-card">
    <h1 style="color:#4A4A4A">ADULT</h1>
    <h2>¥&nbsp<%= @resort.adult_price %></h2>
  </div>

  <div class="resort-summary-card">
    <h1 style="color:#4A4A4A">CHILD</h1>
    <h2>¥&nbsp<%= @resort.child_price %></h2>
  </div>
</div>
