<div
  id="map"
  style="width: 100%;
  height: 90vh;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  data-controller="maps"
></div>
<div class="button-holder">
  <%= link_to '10km', '?slopes_length=10', class: 'button', style: "text-decoration:none" %>
</div>
# of resorts shown: <%= @resorts.count %>
